{% extends 'portfolio/base.html' %}
{% load static %}

{% block body_class %}home-page{% endblock %}

{% block content %}
<div class="home-content">
    <h1>I'm Om Prakash</h1>
    <p style="font-size: 1.2em; color: #aaa;">A software engineer doesn’t just write code; they craft logic into art and turn imagination into reality.</p>
    <img src="{% static 'portfolio/images/profile.JPG' %}" alt="Profile Photo" class="profile-photo" style="margin-top: 2em;">

    <div class="contact-links" style="padding: 2em 0;">
        <a href="https://www.linkedin.com/in/om-prakash-19a211278" style="color: #ffffff; text-decoration: none; margin: 0 1em; font-size: 2em;"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/sunnydas56" style="color: #ffffff; text-decoration: none; margin: 0 1em; font-size: 2em;"><i class="fab fa-github"></i></a>
        <a href="mailto:sunnykumar40396@gmail.com" style="color: #ffffff; text-decoration: none; margin: 0 1em; font-size: 2em;"><i class="fas fa-envelope"></i></a>
        <a href="tel:7355713060" style="color: #ffffff; text-decoration: none; margin: 0 1em; font-size: 2em;"><i class="fas fa-phone"></i></a>
    </div>
</div>
{% endblock %}
